.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(90deg);
    position: absolute;
    left: 3px;
    top: 40%;
}

@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}
.dropdown-submenu .dropdown-menu {
    left:-100%;
    top:0;
}

@media (max-width: 768px) {
    .dropdown-submenu .dropdown-menu {
        text-align:center;
    }
}